img.logo-login {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
}

.login-title {
    padding-bottom: 5%;
    cursor: default;
    font-weight: "bold";
}

.what-is-my-password {
    display: inline-block;
    width: 100%;
    direction: rtl;
}

.what-is-my-password:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 15%;
    cursor: pointer;
}

.msg-error-form {
    display: inline-block;
    width: 100%;
    margin-top: 2.5%;
    align-items: center;
    text-align: center;
    color: #EB7878;
    cursor: default;
}

button.login {
    border-style: none;
    display: inline;
    position: relative;
    left: 25%;
    width: 50%;
    height: 60px;
    margin-top: 5%;
}

input.login {
    width: 100%;
    height: 5vw;
}


/* Mobile */
@media (max-width: 480px) {
    input.login {
        margin: 1vh;
        height: 3vw;
    }
}

/* iPads e tablets */
@media (max-width: 768px) {
    input.login {
        margin: 1vh;
        height: 8vh;
    }
}

/* Very large screens and TVs */
@media (min-width: 1201px) {
    input.login {
        margin: 1vh;
        height: 5vw;
    }
}