@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 35, 35, 35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

main {
  background: transparent;
  width: "100vw";
}


.clickable {
  cursor: pointer;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}