@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 35, 35, 35;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

main {
  background: transparent;
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}


.clickable {
  cursor: pointer;
}

.purple-bg {
  background-color: #3B2266;
}

img.logo-animation:hover {
  transform: rotate(-360deg);
}

img.logo-animation.reverse {
  transform: rotate(360deg);
}

img.logo-animation {
  transition: transform 0.8s ease-in-out;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Resposive Global CSS */
/* Mobile */
@media (max-width: 480px) {}

/* iPads e tablets */
@media (max-width: 768px) {}

/* Small screens and laptops */
@media (max-width: 1024px) {}

/* Large screens and desktops */
@media (max-width: 1200px) {}

/* Very large screens and TVs */
@media (min-width: 1201px) {}