.logo-login {
  transition: transform 1s ease; /* Controla a transição de transformação */
}

.logo-animation {
  transform: scale(1) rotate(0deg); /* Estado padrão com rotação em 0 graus */
}

.logo-animation.reverse {
  transform: scale(1) rotate(360deg); /* Reduz a escala e gira 360 graus */
}
